body {
    text-align: center;
    font-family: cursive;
}


#grid {
    border: 50px;
    border-color: black;
 width: 700px;
 height: 450px;
 margin: auto;
}

img {
    width: 175px;
    height: 150px;
}
